*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Open Sans', sans-serif;
  background: grey;
  padding: 30px;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container{
  width: 800px;
  display: flex;
  flex-wrap: wrap;
}

.box{
  width: 120px;
  height: 120px;
  background: white;
  border: 1px solid black;
  border-radius: 10px;
  margin: 2px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 35px;
  user-select: none;
}

.yellow{
  background: yellow;
}

.green{
  background: green;
}